<!DOCTYPE html>
<html>
  <head>
    <title>Shindaggers - Admin</title>
    {{template "commonhead"}}
    {{template "stylesheet"}}
    {{template "admin-stylesheet"}}
  </head>
  <body class="grad">
    <div class="admin-page">
      <div class="title">ADMIN PAGE</div>

      <h3>New Knife</h3>
      <form action="/admin/knife" method="post" enctype="multipart/form-data">
        <label for="name">Knife Name:</label>
        <div>
          <input type="text" id="name" name="name" required>
        </div>

        <label for="author">Author's Name:</label>
        <div>
          <input type="text" id="author" name="author" required>
        </div>

        <label for="rarity">Rarity:</label>
        <div>
          <select id="rarity" name="rarity">
            <option value="Common">Common</option>
            <option value="Uncommon">Uncommon</option>
            <option value="Rare">Rare</option>
            <option value="Super Rare">Super Rare</option>
            <option value="Ultra Rare">Ultra Rare</option>
          </select>
        </div>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*">

        <div class="controls">
          <input class="submit" type="submit" value="Create Knife">
        </div>
      </form>

      <h3>Current Knives</h3>
      <section class="knives">
        <div class="header">ID</div>
        <div class="header">Name</div>
        <div class="header">Author</div>
        <div class="header">Rarity</div>
        <div class="header">Image</div>
        {{ range .Knives }}
          <div><a href="/admin/knife/{{.ID}}">{{.ID}}</a></div>
          <div>{{.Name}}</div>
          <div>{{.Author}}</div>
          <div>{{.Rarity}}</div>
          <div><a href="https://images.shindaggers.io/images/{{.ImageName}}">{{.ImageName}}</a></div>
        {{end}}
      </section>
    </div>
  </body>
</html>

