<!DOCTYPE html>
<html>
  <head>
    <title>Admin Knife: {{.ID}} {{.Name}}</title>
    {{template "commonhead"}}
    {{template "stylesheet"}}
    {{template "admin-stylesheet"}}
  </head>

  <body class="grad">
    <div class="admin-page">
      <form action="/admin/knife/{{.ID}}" method="put" enctype="multipart/form-data">
        <label for="name">Knife Name:</label>
        <div>
          <input type="text" value="{{.Name}}" id="name" name="name" required>
        </div>

        <label for="author">Author's Name:</label>
        <div>
          <input type="text" value="{{.Author}}" id="author" name="author" required>
        </div>

        <label for="rarity">Rarity:</label>
        <div>
          <select id="rarity" name="rarity">
            <option value="Common" {{if eq .Rarity "Common"}}selected="selected"{{ end }} >Common</option>
            <option value="Uncommon" {{if eq .Rarity "Uncommon"}}selected="selected"{{ end }}>Uncommon</option>
            <option value="Rare" {{if eq .Rarity "Rare"}}selected="selected"{{ end }}>Rare</option>
            <option value="Super Rare" {{if eq .Rarity "Super Rare"}}selected="selected"{{ end }}>Super Rare</option>
            <option value="Ultra Rare" {{if eq .Rarity "Ultra Rare"}}selected="selected"{{ end }}>Ultra Rare</option>
          </select>
        </div>

        <div>Current Image:</div>
        <div class="image">
          <img src="https://images.shindaggers.io/images/{{.ImageName}}" />
        </div>

        <label for="image">New Image:</label>
        <div>
          <input type="file" id="image" name="image" accept="image/*" required>
        </div>

        {{if .Deleted}}
        <div>Deleted:</div>
        <div>This knife has been marked deleted</div>
        {{end}}

        <div class="controls">
          <input class="submit" type="button" onclick="handleUpdate()" value="Update"/>
          <input class="delete" type="button" onclick="handleDelete()" value="Delete Knife" />
        </div>
      </form>

      <div id="error-field"></div>
    </div>

    <script type="text/javascript">

      function handleUpdate() {
        alert("Not yet implemented");

        return false;
      }

      function handleDelete() {
        if (!confirm('Are you sure you want to delete this knife?')) {
          return
        }

        fetch('/admin/knife/{{.ID}}',
          {
            method: 'DELETE',
          }
        ).then(response => {
          window.location.href = "/admin";
        }).catch(error => {
          printerror(error);
        })
      }

      function printerror(msg) {
        document.getElementById('error-field').innerText = msg;
      }
    </script>
  </body>
</html>
