{{define "catalog.html"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Shindaggers - Catalog</title>
    {{template "commonhead"}}
    {{template "stylesheet"}}
  </head>
  <body class="grad inset">
    <div class="title">Collection</h2>
    <div class="collection">
      {{range .Knives}}
        <a href="/catalog/{{.ID}}">
          <div class="collection-knife {{.RarityClass}}">
              <img src="https://images.shindaggers.io/images/{{.ImageName}}"/>
              <div class="name">{{.Name}}</div>
              <div class="author">{{.Author}}</div>
          </div>
        </a>
      {{end}}
    </div>
  </body>
</html>
{{end}}
