<html>
  <head>
    <title>Shindaggers</title>
  </head>
  <body>
    <h1>Shindaggers inventory</h1>
    <p>Finally a inventory for your hard earned Shindigs Brand Knives.  Have you been looking for a place to
    show off your first edition Kirkland Signature blade?  Want to keep tabs of your 90th copy of the
    Enchanted Dagger, well here it is.  Using the peak of modern technology.  Databases.  Yes that's right,
    firmly on the bleeding edge of Web 2.0 technology you can be assured the non fugibility of your steel.<p>
  </body>
</html>
