<!DOCTYPE html>
<html>
  <head>
    <title>Shindaggers</title>

    {{template "commonhead"}}
    {{template "stylesheet"}}
  </head>
  <body class="split">
    <section class="intro">
      <h1>Shindaggers</h1>
      <p>
        Gaze upon your collection of hard earned <a href="https://twitch.tv/shindigs">Shindigs</a> Brand Knives.
      </p>

      <div class="button">
        <a href="/catalog">
          View the Collection
        </a>
      </div>



      <div>
        Browse the <a href="/catalog">full collection</a>
      </div>

      <div id="lookup">
        <h3>Look up your collection:</h3>
        <div class="input-control">
          <input class="input" id="user-lookup" placeholder="username">
          <div id="user-lookup-button" class="button button-input">Search</div>
        </div>

        <div>Or</div>

        <div class="button">
          <a href="{{.LoginURL}}">
            Login With Twitch
          </a>
        </div>

        <div style="font-size: 12px;margin:0;">Design by Tigrlilly</div>
      </div>

    </section>
    <section class="pulls">
      <h2>Latest Pulls</h2>
      <div class="pulls-list">
        {{range .Pulls}}
        <a href="/knife/{{.InstanceID}}">
          <div class="pull {{.RarityClass}}">
            <div class="image">
              <img src="https://images.shindaggers.io/images/{{.ImageName}}"/>
            </div>
            <div class="name">{{.Name}}</div>
            <div class="info">
              <div>PULLED BY {{.Owner}}</div>
              <div class="time" title="{{.AbsTime}}">{{.TimeAgo}}</div>
            </div>
          </div>
        </a>
        {{end}}
      </div>
    </section>
    <script type="application/javascript">
      let lookupInput = document.getElementById("user-lookup");
      lookupInput.addEventListener("keypress", function(event) {
        if(event.key === 'Enter') {
          let username = event.target.value;
          if (username.length == 0) {
            return false;
          }
          window.location.href = "/user/" + username;
        }
      });

      document.getElementById('user-lookup-button').addEventListener("click", function(event) {
        let username = lookupInput.value;
        if (username.length == 0) {
          return false;
        }
        window.location.href = "/user/" + username;
      });
    </script>
  </body>
</html>
