<!DOCTYPE html>
<html>
  <head>
    <title>Shindaggers - {{.Owner}}'s {{.Name}}</title>
    <meta property="og:title" content="{{.Owner}}'s {{.Name}}" />
    <meta property="og:image" content="https://images.shindaggers.io/images/{{.ImageName}}" />
    <meta property="og:description" content="{{.Name}} a {{.Rarity}} blade crafted by {{.Author}}" />

    {{template "commonhead"}}
    {{template "stylesheet"}}
  </head>
  <body class="grad">

    {{template "knife" .}}

    <div class="info-card">
      <div class="info-card-header">
        Owner
      </div>
      <div class="info-card-body">
        <a href="/user/{{.Owner}}">
          {{.Owner}}
        </a>
      </div>
      <div class="info-card-header">
        Obtained At
      </div>
      <div class="info-card-body">
        {{.ObtainedAt}}
      </div>
    </div>

  </body>
</html>

{{define "knife"}}
    <div class="card {{.RarityClass}}" data-tilt> 

      <svg class="border border-top" width="272" height="159" viewBox="0 0 272 159" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M136 9H9V159" stroke-width="17"/>
      <path d="M160 9H221" stroke-width="17"/>
      <path d="M241 9H272" stroke-width="17"/>
      </svg>

      <div class="card-label">
        <div class="justified">
          <div>{{.Rarity}}</div>
        </div>
        <div class="edition">
        </div>
      </div>

      <div class="micro-title">
        {{.Name}}
      </div>

      <div class="macro-title">
        <div id="character-justify">
          {{.Name}}
        </div>
      </div>

      <div class="card-image">
        <img src="https://images.shindaggers.io/images/{{.ImageName}}"/>
      </div>

      <div class="badges">
        {{ if .Deleted }}
        <div class="deleted" title="This knife was deleted. 🤫"></div>
        {{ end }}
        {{ if .Verified }}
        <div class="verified" title="Verified Edition"></div>
        {{ end }}
        {{ if .Subscriber }}
        <div class="subscribed" title="Subscriber Issue"></div>
        {{ end }}
      </div>

      <div class="card-attribution">
        <div class="label">Crafted By</div>
        <div>{{.Author}}</div>
      </div>

      <svg class="border border-bottom" width="263" height="156" viewBox="0 0 263 156" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M127 147L254 147L254 1.50204e-05" stroke-width="17"/>
      <path d="M110 147H49" stroke-width="17"/>
      <path d="M31 147H9.53674e-07" stroke-width="17"/>
      </svg>
    </div>

    <script type="text/javascript" src="https://images.shindaggers.io/scripts/vanilla-tilt.min.js"></script>
    <script type="text/javascript">
      // Canvas code to get around no inter-character justification of text
      var dpr = window.devicePixelRatio || 1; 
      const canvasHeight = 500;
      const canvasWidth = 480;
      const lineHeight = 120;
      function SplitText(node) {
        var text = node.nodeValue.replace(/^\s*|\s(?=\s)|\s*$/g, "");
        let words = text.split(' ');
        let canvas = document.createElement("canvas");
        canvas.width = canvasWidth * dpr;
        canvas.height = canvasHeight * dpr;
        let context = canvas.getContext('2d');
        context.font = '800 100px Montserrat';
        context.fillStyle = 'white';
        context.scale(dpr, dpr);

        node.parentNode.insertBefore(canvas, node);

        let word = words.shift();
        let lines = [];
        while(word) {
          word = word.toUpperCase();
          let metrics = context.measureText(word);

          if (word.length > 3 && metrics.width > 500) {
            // split and try again
            let mid = word.length / 2;
            words.unshift(word.slice(0,mid), word.slice(mid));
          } else {
            lines.push([word, metrics.width]);
          }

          word = words.shift();
        }


        // Start from top
        let cursorY = lineHeight - 40;

        for (let [line, width] of lines) {
          let letters = line.split('');
          let cursorX = 0;
          let delta = (canvasWidth - width) / (line.length - 1);
          for (let i = 0; i < letters.length; i++) {
            let metrics = context.measureText(letters[i]);
            context.fillText(letters[i], cursorX, cursorY);
            cursorX += metrics.width + delta;
          }
          cursorY += lineHeight;
        }

        node.parentNode.removeChild(node);
      }

      (() => {
        // Disable for browsers that don't support auto justify
        if (CSS.supports("text-justify: inter-character")) {
          return false;
        }

        var TEXT_NODE = 3;
        var elem = document.getElementById("character-justify");
        elem = elem.firstChild;

        while (elem) {
          var nextElem = elem.nextSibling;

          if (elem.nodeType == TEXT_NODE)
            SplitText(elem);

          elem = nextElem;
        }
      })()
    </script>
{{end}}
