<!DOCTYPE html>
<html>
  <head>
    <title>Shindaggers - {{.Owner}}'s {{.Name}}</title>
    <meta property="og:title" content="{{.Owner}}'s {{.Name}}" />
    <meta property="og:image" content="https://images.shindaggers.io/images/{{.ImageName}}" />
    <meta property="og:description" content="{{.Name}} a {{.Rarity}} blade crafted by {{.Author}}" />

    {{template "commonhead"}}
    {{template "stylesheet"}}
  </head>
  <body class="grad">
    <div class="card {{.RarityClass}}" data-tilt> 
      <div class="card-image">
        <img src="https://images.shindaggers.io/images/{{.ImageName}}"/>
        <div class="badges">
          {{ if .Verified }}
          <div class="verified" title="Verified Edition"></div>
          {{ end }}
          {{ if .Subscriber }}
          <div class="subscribed" title="Subscriber Issue"></div>
          {{ end }}
        </div>
      </div>
      <div class="card-title">{{.Name}}</div>
      <div class="card-attribution">
        <div>
          <div class="label">Rarity</div>
          <div>{{.Rarity}}</div>
        </div>
        <div>
          <div class="label">Crafted By</div>
          <div>{{.Author}}</div>
        </div>
        <div>
          <div class="label">Edition</div>
          <div>{{.Edition}}</div>
        </div>
      </div>
    </div>

    <div class="info-card">
      <div class="info-card-header">
        Owner
      </div>
      <div class="info-card-body">
        <a href="/user/{{.Owner}}">
          {{.Owner}}
        </a>
      </div>
      <div class="info-card-header">
        Obtained At
      </div>
      <div class="info-card-body">
        {{.ObtainedAt}}
      </div>
    </div>

    <script type="text/javascript" src="https://images.shindaggers.io/scripts/vanilla-tilt.min.js"></script>
  </body>
</html>
