{{define "stylesheet"}}

<style>
html {
  min-height: 100%;
}

body.split {
  font-family: Montserrat, sans-serif;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: minmax(auto, 1000px) minmax(400px, auto);
  margin: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
}

body.inset {
  margin: 30px;
}

section.intro {
  padding: 40px;
  background: rgb(240, 240, 255);
}

section.intro h1 {
  font-size: 60px;
}

section.intro p {
  font-size: 24px;
}

section.pulls {
  height: 100%;
  padding: 1em;
  background: rgb(20,20,40);
  color: white;
}

@media screen and (max-width: 940px) {
  body.split {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

.intro > div {
  margin: 1em 0;
}

.intro h3 {
  margin-bottom: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

body.grad {
  background: radial-gradient(at 50% 10%, #060606 0%, #2c5267 100%);
}

.card {
  position: relative;
  width: 480px;
  height: 700px;
  background: #f5f5f5;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.9);
  text-align: center;
  cursor: pointer;
  margin: 60px auto;
  transform-style: preserve-3d;
  perspective: 1000px;
  font-size: 30px;
  color: white;
  padding: 15px;
}

.card .border-top {
  position: absolute;
  top: -10px;
  left: -10px;
}

.card .border-bottom {
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.card .card-label {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 180px;
  font-size: 24px;
  font-weight: 800;
  text-align: right;
  text-transform: uppercase;
}

.card .card-label .edition {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.325em;
}

.card.rarity-common {
  background: #26B800;
}

.card.rarity-common .border {
  stroke: #175108;
}

.card.rarity-uncommon {
  background: #005E66;
}

.card.rarity-uncommon .border {
  stroke: #00393E;
}

.card.rarity-rare {
  background: #510165;
}

.card.rarity-rare .border {
  stroke: #290033;
}

.card.rarity-super-rare {
  background: #CCCB00;
}

.card.rarity-super-rare .border {
  stroke: #8A8900;
}

.card.rarity-ultra-rare {
  background: #A60000;
}

.card.rarity-ultra-rare .border {
  stroke: #5D1414;
}

.card .micro-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;

  text-align: left;
  padding-top: 100px;
}

.card .macro-title {
  position: relative;
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-character;
  word-break: break-word;
}

.card .macro-title > div {
  position: absolute;
  top: 0;
  left: 0;
}

.card .macro-title canvas {
  width: 100%;
  height: 500px;
}

.card-attribution {
  position: absolute;
  text-align: left;
  bottom: 10px;
  left: 10px;

  font-size: 24px;
  font-weight: 700;
}

.card-attribution .label {
  font-weight: 400;
  font-size: 16px;
}

.card .card-image {
  transform: translateZ(60px) translateY(50px);
  position: relative;
}

.card .card-image img {
  width: 100%;
}

.card .badges {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card .badges > div {
  margin-top: 5px;
}

.card .deleted {
  width: 38px;
  height: 38px;
  border: solid 3px red;
  color: red;
  font-size: 24px;
  border-radius: 5px;
}

.card .deleted:before {
  content: '⚠️';
}

.card .subscribed {
  width: 38px;
  height: 38px;
  background: url('https://images.shindaggers.io/images/sub.png') no-repeat;
}


.card .verified {
  width: 38px;
  height: 39px;
  background: url('https://images.shindaggers.io/images/verified.png') no-repeat;
}

.collection {
  display: grid;
  justify-content: center;
  grid-gap: 60px;
  grid-template-columns: repeat(auto-fill, 200px);
  margin: 0 40px;
  margin-bottom: 30px;
}

.mini-card {
  position: relative;
  width: 200px;
  height: 290px;
  background: #f5f5f5;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.9);
  text-align: center;
  cursor: pointer;
  transform-style: preserve-3d;
  perspective: 1000px;
  font-size: 30px;
  padding: 15px;
}

.mini-card .border-top {
  position: absolute;
  top: -5px;
  left: -4px;
}

.mini-card .border-bottom {
  position: absolute;
  bottom: -5px;
  right: -4px;
}

.mini-card.rarity-common {
  background: #26B800;
}

.mini-card.rarity-common .border {
  stroke: #175108;
}

.mini-card.rarity-uncommon {
  background: #005E66;
}

.mini-card.rarity-uncommon .border {
  stroke: #00393E;
}

.mini-card.rarity-rare {
  background: #510165;
}

.mini-card.rarity-rare .border {
  stroke: #290033;
}

.mini-card.rarity-super-rare {
  background: #CCCB00;
}

.mini-card.rarity-super-rare .border {
  stroke: #8A8900;
}

.mini-card.rarity-ultra-rare {
  background: #A60000;
}

.mini-card.rarity-ultra-rare .border {
  stroke: #5D1414;
}

.mini-card .micro-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;

  text-align: left;
  color: white;
  padding-top: 20px;
  height: 20px;
}

.mini-card .macro-title {
  position: absolute;
}

.mini-card .macro-title canvas {
  width: 100%;
  height: 250px;
}

.mini-card .card-image img {
  width: 100%;
}

.mini-card .card-image {
  transform: translateZ(60px) translateY(50px);
  position: relative;
  height: 200px;
  overflow: hidden;
}

.collection .collection-knife {
  display: grid;
  border-radius: 10px;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 100px;
  font-family: Oswald, sans-serif;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-size: 30px;
  border-solid solid 5px rgb(20, 20, 40);
}

.title {
  font-size: 80px;
  color: #fefefe;
}

.header {
  color: #fefefe;
  margin: 0 1em;
}

.collection-knife .name {
  border-top: solid 1px rgb(20,20,40);
}

.collection-knife .author {
  font-size: 16px;
}

.collection .collection-knife img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.collection-knife.rarity-common {
  background: #26B800;
}

.collection-knife.rarity-uncommon {
  background: #005E66;
}

.collection-knife.rarity-rare {
  background: #510165;
}

.collection-knife.rarity-super-rare {
  background: #CCCB00;
}

.collection-knife.rarity-ultra-rare {
  background: #A60000;
}

.collection-knife .image {
  position: relative;
}

.collection .badges {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.collection .badges > div {
  margin-top: 2px;
}

.collection .badges .subscribed {
  width: 19px;
  height: 19px;
  background: url('https://images.shindaggers.io/images/sub.png') no-repeat;
  background-size: 19px;
}

.collection .badges .verified {
  width: 19px;
  height: 19px;
  background: url('https://images.shindaggers.io/images/verified.png') no-repeat;
  background-size: 19px;
}


.info-card {
  width: 500px;
  display: grid;
  grid-template-colums: 500px;
  grid-template-rows: 60px 120px 60px 120px;
  background: white;
  overflow: hidden;
  background: #f5f5f5;
  color: #010101;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.9);
  font-family: Oswald, sans-serif;
  margin: 30px auto;
  padding: 30px;
  font-size: 26px;
}
.info-card-header {
  margin: 0 1em;
  font-weight: 700;
}

.info-card-body {
  font-weight: 200;
  margin: 0 2em;
}

a {
  text-decoration: underline;
  color: black;
}

.pull a {
  text-decoration: none;
}

.collection a {
  text-decoration: none;
}

.label {
  font-size: 16px;
}

.pulls h2 {
  margin: 0;
}

.pulls-list {
  display: grid;
}

.pull {
  display: grid;
  grid-template-columns: 60px 1fr 3fr;
  grid-gap: 10px;
  font-size: 20px;
  font-weight: 700;
  margin: 12px 0;
  align-items: center;
  min-height: 60px;
}

.pull .image {
  position: relative;
}

.pull .image img {
  position: absolute;
  top: -40px;
  left: 0;
  height: 80px;
}

.pulls-list a {
  text-decoration: none;
  color: inherit;
}

.pull .name {
  text-transform: uppercase;
}

.pull .info {
  font-size: 18px;
}

.pull .time {
  font-size: 14px;
}

.pull.rarity-common {
  background: linear-gradient(90deg, #26B800 64.5%, rgba(0, 94, 102, 0) 95.51%);
}

.pull.rarity-common:hover {
  background: linear-gradient(90deg, #26B800 64.5%, rgba(0, 94, 102, 0) 95.51%);
}

.pull.rarity-uncommon {
  background: linear-gradient(90deg, #005E66 64.5%, rgba(0, 94, 102, 0) 95.51%);
}

.pull.rarity-uncommon:hover {
  background: linear-gradient(90deg, #005E66 64.5%, rgba(0, 94, 102, 0) 95.51%);
}

.pull.rarity-rare {
  background: linear-gradient(90deg, #510165 64.5%, rgba(0, 94, 102, 0) 95.51%);
}

.pull.rarity-rare:hover {
  background: linear-gradient(90deg, #510165 64.5%, rgba(0, 94, 102, 0) 95.51%);
}

.pull.rarity-super-rare {
  background: linear-gradient(90deg, #CCCB00 64.5%, rgba(0, 94, 102, 0) 95.51%);
}

.pull.rarity-super-rare:hover {
  background: linear-gradient(90deg, #CCCB00 64.5%, rgba(0, 94, 102, 0) 95.51%);
}

.pull.rarity-ultra-rare {
  background: linear-gradient(90deg, #A60000 64.5%, rgba(0, 94, 102, 0) 95.51%);
}

.pull.rarity-ultra-rare:hover {
  background: linear-gradient(90deg, #A60000 64.5%, rgba(0, 94, 102, 0) 95.51%);
}

.label {
  font-size: 16px;
}


.input-control {
  display: grid;
  grid-template-columns: 250px 100px;
}

.input-control .input {
  height: 43px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.input-control .button {
  margin: 0;
  background: #F39643;
  width: 100px;
  height: 47px;
  line-height: 47px;
}


.button {
  text-transform: uppercase;
  background: #90D3C3;
  color: white;
  cursor: pointer;
  height: 58px;
  width: 250px;
  text-align: center;
  line-height: 58px;
}

.button a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}


#user-lookup {
  width: 228px;
  padding: 0 10px;
}

#lookup > div {
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: 700;
}

</style>

{{end}}

{{define "admin-stylesheet"}}
<style>
.admin-page {
  width: 800px;
  margin: 0 auto;
  padding: 1em;
  background: #efefef;
}

.admin-page .title {
  color: #010101;
}

.admin-page form {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 22px;
}

.admin-page form label {
  margin-right: 1em;
}

.admin-page form input {
  font-size: 22px;
}

.admin-page form select {
  font-size: 22px;
}

.admin-page form > div {
  height: 60px;
}

.admin-page form > div.image {
  height: auto;
}

.admin-page div.image img {
  width: 400px;
}

.admin-page form .controls {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  grid-gap: 40px;
  margin: 1em;
}

.admin-page form .submit {
  text-align: center;
  border-radius: 30px;
  height: 60px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 22px;
  background: #2f2f2f;
  cursor: pointer;
}

.admin-page form .submit:hover {
  background: #1f1f1f;
}

.admin-page form .delete {
  text-align: center;
  border-radius: 30px;
  height: 60px;
  outline: none;
  border: solid 3px red;
  color: red;
  font-size: 22px;
  background: none;
  cursor: pointer;
}

.admin-page form .delete:hover {
  background: rgba(255, 0, 0, 0.3);
}

.admin-page .knives {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.admin-page .knives .header {
  color: #010101;
  font-weight: bold;
}


</style>
{{end}}
