{{define "user.html"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Shindaggers - {{.User.Name}}'s Inventory</title>

    {{template "commonhead"}}
    {{template "stylesheet"}}
  </head>
  <body class="grad inset">
    <div class="title">
      {{.User.Name}}
    </div>
    <div class="header">
      <h2>Owned Knives:</h2>
    </div>
    <div class="collection">
      {{range .Knives}}
      <a href="/knife/{{.InstanceID}}">
        <div class="collection-knife {{.RarityClass}}">
            <div class="image">
              <img src="https://images.shindaggers.io/images/{{.ImageName}}"/>
              <div class="badges">
              {{ if .Verified }}
              <div class="verified" title="Verified Edition"></div>
              {{ end }}
              {{ if .Subscriber }}
              <div class="subscribed" title="Subscriber Issue"></div>
              {{ end }}
              </div>
            </div>
            <div class="name">{{.Name}}</div>
        </div>
      </a>
      {{end}}
    </div>
  </body>
</html>
{{end}}

