html {
  min-height: 100%;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(240, 240, 255);
}

h1, h2, h3 {
  text-transform: uppercase;
}

.title {
  font-size: 80px;
  color: #fefefe;
}

.header {
  color: #fefefe;
  margin: 0 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

nav.masternav {
  height: 2em;
  border-bottom: solid thin black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 26px;
  text-transform: uppercase;
  padding: 0 1em;
}

nav.masternav a {
  margin-top: 0.3em;
  margin-left: 2em;
  color: rgb(20,20,20);
  transition: text-shadow 0.2s;
}

nav.masternav a.active {
  font-weight: bold;
}

nav.masternav a:hover {
  color: rgb(0,0,0);
  text-shadow: rgba(0,0,0,0.3) 3px 3px 3px;
}

nav.masternav nav {
  display: flex;
}

nav.pages a:first-child {
  margin-left: 0;
}

.input-button {
  display: flex;
}

.input-button input {
  height: 43px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.input-button.valid input {
  border-color: #00FF00;
}

.input-button .button {
  margin: 0;
  background: #F39643;
  width: 100px;
  height: 49px;
  line-height: 49px;
}
