
.flex-mid {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

.split {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto minmax(400px, 600px);
  margin: 0;
}

@media screen and (max-width: 940px) {
  .split {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

section.intro {
  margin: 0 40px;
}

section.intro h1 {
  font-size: 60px;
}

section.intro p {
  font-size: 24px;
}

section.intro p a {
  text-decoration: underline;
  transition: text-shadow 0.2s;
}

section.intro p a:hover {
  text-decoration: underline;
  text-shadow: rgba(0,0,0,0.3) 3px 3px 3px;
}

section.pulls {
  background: rgb(20,20,40);
  color: white;
  padding: 1em;
}

.pulls h2 {
  margin: 0;
}

.pulls a {
  text-decoration: none;
  color: inherit;
}

.pull {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 2fr 3fr;
  grid-template-areas: 
    "image name"
    "image info";
  font-size: 20px;
  font-weight: 700;
  margin: 12px 0;
  align-items: center;
  min-height: 80px;
  border: solid 2px #f3e600;
  transition: box-shadow 0.2s;
}

.pull .image {
  position: relative;
  grid-area: image;
}

.pull .image img {
  position: absolute;
  top: -40px;
  right: 80;
  height: 80px;
}

.pull .name {
  grid-area: name;
  text-transform: uppercase;
}

.pull .info {
  grid-area: info;
  font-size: 16px;
}

.pull .time {
  font-size: 12px;
}

.pull.common {
  border-color: #26BB00;
  box-shadow: 0 0 10px 5px #26BB00;
  background: rgba(38,187,0,0.2)
}

.pull.common:hover {
  box-shadow: 0 0 20px 10px #26BB00;
}

.pull.uncommon {
  border-color: #005E66;
  box-shadow: 0 0 10px 5px #005E66;
  background: rgba(0,94,102,0.2)
}

.pull.uncommon:hover {
  box-shadow: 0 0 10px 10px #005E66;
}

.pull.rare {
  border-color: #510165;
  box-shadow: 0 0 10px 5px #510165;
  background: rgba(81,1,101,0.2)
}

.pull.rare:hover {
  box-shadow: 0 0 10px 10px #510165;
}

.pull.super-rare {
  border-color: #CCCB00;
  box-shadow: 0 0 10px 5px #CCCB00;
  background: rgba(204,203,0,0.2)
}

.pull.super-rare:hover {
  box-shadow: 0 0 10px 10px #CCCB00;
}

.pull.ultra-rare {
  border-color: #A60000;
  box-shadow: 0 0 10px 5px #A60000;
  background: rgba(166,0,0,0.2)
}

.pull.ultra-rare:hover {
  box-shadow: 0 0 10px 10px #A60000;
}
