
.mini-card {
  position: relative;
  width: 200px;
  height: 290px;
  background: #f5f5f5;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.9);
  text-align: center;
  cursor: pointer;
  transform-style: preserve-3d;
  perspective: 1000px;
  font-size: 30px;
  padding: 15px;
}

.mini-card .border-top {
  position: absolute;
  top: -5px;
  left: -4px;
}

.mini-card .border-bottom {
  position: absolute;
  bottom: -5px;
  right: -4px;
}

.mini-card.common {
  background: #26B800;
}

.mini-card.common .border {
  stroke: #175108;
}

.mini-card.uncommon {
  background: #005E66;
}

.mini-card.uncommon .border {
  stroke: #00393E;
}

.mini-card.rare {
  background: #510165;
}

.mini-card.rare .border {
  stroke: #290033;
}

.mini-card.super-rare {
  background: #CCCB00;
}

.mini-card.super-rare .border {
  stroke: #8A8900;
}

.mini-card.ultra-rare {
  background: #A60000;
}

.mini-card.ultra-rare .border {
  stroke: #5D1414;
}

.mini-card .author {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.mini-card .micro-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;

  text-align: left;
  color: white;
  padding-top: 20px;
  height: 20px;
}

.mini-card .macro-title {
  position: absolute;
}

.mini-card .macro-title canvas {
  width: 100%;
  height: 250px;
}

.mini-card .card-image img {
  width: 100%;
  filter: drop-shadow(0 0 10px black);
}

.mini-card .card-image {
  transform: translateZ(60px) translateY(50px);
  position: relative;
  height: 200px;
  overflow: hidden;
}
