.user-complete {
  position: relative;
  margin: 10px 0;
}

.user-complete .results {
  position: absolute;
  top: 50px;
  left: 10px;
  background: rgb(20, 20, 0);
  border: solid thin black;
  z-index: 100;
}

.user-complete .results {
  font-size: 20px;
  padding: 0;
}

.user-complete .results div {
  padding: 5px 10px;
}

.user-complete .results div:hover {
  padding: 5px 10px;
  background: rgb(80, 80, 88);
  cursor: pointer;
}
